<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Erro 503</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>

    <body>
        <div class="erro-container">
            <h1>Erro 503</h1>
            <p>Nosso site está em manutenção no momento. Por favor, aguarde.</p>

            <img src="/imgs/erro503.png" alt="Site em manutenção" class="erro-imagem" />
        </div>
    </body>
</html>
