<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Erro 400</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>

    <body>
        <div class="erro-container">
            <h1>Erro 400</h1>
            <p>Solicitação Inválida.</p>

            <img src="/imgs/erro400.png" alt="Requisição errada" class="erro-imagem" />

            <div class="erro-botoes">
                <a href="/" class="btn-principal">Voltar para a Home</a>
            </div>
        </div>
    </body>
</html>
