<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Erro 429</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>

    <body>
        <div class="erro-container">
            <h1>Erro 429</h1>
            <p>
                Você fez muitas requisições em um curto período de tempo. Nosso servidor bloqueou
                seu acesso. Aguarde 1 minuto e tente novamente
            </p>

            <img src="/imgs/erro429.png" alt="Muitas requisições" class="erro-imagem" />

            <div class="erro-botoes">
                <a href="/" class="btn-principal">Voltar para a Home</a>
            </div>

            <p class="erro-incidente">Código do Incidente: #B5-500-XYZ</p>
        </div>
    </body>
</html>
